
<h1> Asgar / <%= title %>  </h1>

<section id="feed-post">
    <form action="/posts/create" method="post">
        <textarea name="content"  cols="30" rows="3" placeholder="type here"></textarea>
        <input type="submit" value="Post">
    </form>
</section>